<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	{{{_sections.head}}}
	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}	
</head>
<body>
	<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
	
	{{#if flash}}
		<div class="alert alert-dismissible alert-{{flash.type}}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;<button>
			<strong>{{flash.intro}}</strong> {{{flash.message}}}
		</div>
	{{/if}}
	<!-- Flash Messages Ends -->
	{{{body}}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>		
	{{{_sections.jquery}}}
	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}
</body>
</html>